# Keep consistent line endings in repo
* text=auto

*.v   text eol=lf
*.sv  text eol=lf
*.vh  text eol=lf
*.svh text eol=lf
*.py  text eol=lf
*.tcl text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf