# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (НЕ качваме сурови експерименти по default)
data/raw/*
data/processed/*
data/meta/*
!data/raw/.keep
!data/processed/.keep
!data/meta/.keep

# Logs
*.log

# Vivado project files (само RTL + scripts)
*.xpr
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.gen/
*.sim/
*.srcs/
vivado*.log
vivado*.jou
webtalk*.log
webtalk*.jou

# overlay output (.bit + .hwh)
!fpga/overlays/**/*.bit
!fpga/overlays/**/*.hwh
# Exports
exports/
